{{>partial_header}}

use reqwest;

use crate::apis::ResponseContent;
use super::{Error, configuration};
use crate::http::{authenticated_request, default_error_handler};
use crate::Client;
use crate::token::Token;
use reqwest::Method;


{{#operations}}
{{#operation}}
{{#vendorExtensions.x-group-parameters}}
{{#allParams}}
{{#-first}}
/// struct for passing parameters to the method `{{operationId}}`
#[derive(Clone, Debug)]
pub struct {{{operationIdCamelCase}}}Params {
{{/-first}}
    {{#description}}
    /// {{{.}}}
    {{/description}}
    pub {{{paramName}}}: {{^required}}Option<{{/required}}{{#required}}{{#isNullable}}Option<{{/isNullable}}{{/required}}{{#isString}}{{#isArray}}Vec<{{/isArray}}String{{#isArray}}>{{/isArray}}{{/isString}}{{#isUuid}}{{#isArray}}Vec<{{/isArray}}String{{#isArray}}>{{/isArray}}{{/isUuid}}{{^isString}}{{^isUuid}}{{^isPrimitiveType}}{{^isContainer}}crate::models::{{/isContainer}}{{/isPrimitiveType}}{{{dataType}}}{{/isUuid}}{{/isString}}{{^required}}>{{/required}}{{#required}}{{#isNullable}}>{{/isNullable}}{{/required}}{{^-last}},{{/-last}}
{{#-last}}
}

{{/-last}}
{{/allParams}}
{{/vendorExtensions.x-group-parameters}}
{{/operation}}
{{/operations}}

{{#supportMultipleResponses}}
{{#operations}}
{{#operation}}
/// struct for typed successes of method `{{operationId}}`
#[derive(Debug, Clone, Serialize, Deserialize)]
#[serde(untagged)]
pub enum {{{operationIdCamelCase}}}Success {
    {{#responses}}
    {{#is2xx}}
    Status{{code}}({{#isEnum}}{{{enumName}}}{{/isEnum}}{{^isEnum}}{{{dataType}}}{{/isEnum}}),
    {{/is2xx}}
    {{#is3xx}}
    Status{{code}}({{#isEnum}}{{{enumName}}}{{/isEnum}}{{^isEnum}}{{{dataType}}}{{/isEnum}}),
    {{/is3xx}}
    {{/responses}}
    UnknownValue(serde_json::Value),
}

{{/operation}}
{{/operations}}
{{/supportMultipleResponses}}
{{#operations}}
{{#operation}}
/// struct for typed errors of method `{{operationId}}`
#[derive(Debug, Clone, Serialize, Deserialize)]
#[serde(untagged)]
pub enum {{{operationIdCamelCase}}}Error {
    {{#responses}}
    /*  {{code}} {{ message }} */
    {{#is4xx}}
    Status{{code}}({{#isEnum}}{{{enumName}}}{{/isEnum}}{{^isEnum}}{{{dataType}}}{{/isEnum}}),
    {{/is4xx}}
    {{#is5xx}}
    Status{{code}}({{#isEnum}}{{{enumName}}}{{/isEnum}}{{^isEnum}}{{{dataType}}}{{/isEnum}}),
    {{/is5xx}}    
    {{/responses}}
    Other,  // (crate::models::failure::UnexpectedResponse),
}

{{/operation}}
{{/operations}}


// baseName: {{baseName}}
// className: {{className}}
// classVarName: {{classVarName}}

pub struct {{baseName}}<'a> {
    client: &'a Client,
    token: &'a Token,
}

impl<'a> {{baseName}}<'a> {

    pub fn new(client: &'a Client, token: &'a Token) -> Self {
        Self { client, token }
    }

    {{#operations}}
    {{#operation}}
    {{#description}}
    /// {{{.}}}
    {{/description}}
    {{#notes}}
    /// {{{.}}}
    {{/notes}}
    pub async fn {{operationId}}(&self, {{#allParams}}{{{paramName}}}: {{^required}}Option<{{/required}}{{#required}}{{#isNullable}}Option<{{/isNullable}}{{/required}}{{#isString}}{{#isArray}}Vec<{{/isArray}}&str{{#isArray}}>{{/isArray}}{{/isString}}{{#isUuid}}{{#isArray}}Vec<{{/isArray}}&str{{#isArray}}>{{/isArray}}{{/isUuid}}{{^isString}}{{^isUuid}}{{^isPrimitiveType}}{{^isContainer}}crate::models::{{/isContainer}}{{/isPrimitiveType}}{{{dataType}}}{{/isUuid}}{{/isString}}{{^required}}>{{/required}}{{#required}}{{#isNullable}}>{{/isNullable}}{{/required}}{{^-last}}, {{/-last}}{{/allParams}}) -> Result<{{^returnType}}(){{/returnType}}{{#returnType}}{{{returnType}}}{{/returnType}}, Error<{{{operationIdCamelCase}}}Error>> {        
        let url = format!("{}{{contextPath}}{{{path}}}", self.client.base_url{{#pathParams}}, {{{baseName}}}={{#isString}}crate::apis::urlencode({{/isString}}{{{paramName}}}{{^required}}.unwrap(){{/required}}{{#required}}{{#isNullable}}.unwrap(){{/isNullable}}{{/required}}{{#isArray}}.join(",").as_ref(){{/isArray}}{{#isString}}){{/isString}}{{/pathParams}});
        let req = authenticated_request(
            &self.client,
            Method::{{#lambda.uppercase}}{{{httpMethod}}}{{/lambda.uppercase}},
            self.token,
            url,
        )
        {{#hasBodyParam}}
        {{#bodyParams}}
        .json(&{{{paramName}}})
        {{/bodyParams}}
        {{/hasBodyParam}}
        .header("Accept", "application/json");

        let resp = req.send().await?;
        
        let status = resp.status();
        let content = resp.text().await?;

        match status.as_u16() {
             {{#responses}}
             {{#is2xx}}
             {{code}} => {
                {{^returnType}}Ok(()){{/returnType}}
                {{#returnType}}
                let result: {{{returnType}}} 
                    = serde_json::from_str::<{{{returnType}}}>(&content)?;
                Ok(result)
                {{/returnType}}
             },
             {{/is2xx}}
             {{#is3xx}}
             {{code}} => {
                {{^returnType}}Ok(()){{/returnType}}
                {{#returnType}}
                let result: {{{returnType}}} 
                    = serde_json::from_str::<{{{returnType}}}>(&content)?;
                Ok(result)
                {{/returnType}}
             },
             {{/is3xx}}
             {{#is4xx}}
             {{code}}  => {
                let data = serde_json::from_str::<{{{dataType}}}>(&content)?;
                Err(Error::ResponseError(ResponseContent{
                    status, content, entity: {{{operationIdCamelCase}}}Error::Status{{code}}(data)
                }))
            },
            {{/is4xx}}
            {{#is5xx}}
             {{code}}  => {
                let data = serde_json::from_str::<{{{dataType}}}>(&content)?;
                Err(Error::ResponseError(ResponseContent{
                    status, content, entity: {{{operationIdCamelCase}}}Error::Status{{code}}(data)
                }))
            },
            {{/is5xx}}
             {{/responses}}
            _ => {
                Err(Error::ResponseError(ResponseContent{
                    status, content, entity: {{{operationIdCamelCase}}}Error::Other
                }))
            }
        }
    }
    {{/operation}}
    {{/operations}}

}  // end {{baseName}}


// WHAT IS THIS
/*
{{this}}
*/